body {
    background-color: #3157d3c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; 
}

.game-container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 350px;
}
h1 {
    color: #333; 
    font-size: 24px; 
}

p {
    color: #555; 
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px; 
    border-radius: 5px; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none; 
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

button {
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
}

#guess-stats, #message {
    font-size: 18px;
    margin-top: 15px;
}

#message {
    margin-top: 20px;
    color: #333;
}

#message.success {
    color: #28a745; 
}
#message.error {
    color: #dc3545; 
}
#message.neutral {
    color: #ffc107; 
}
